@page
@model SchoolProjectWeb.Pages_Eventos.CreateModel

        @{
        Layout = null;
        }
        
        <!DOCTYPE html>
        
        <html>
        <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
        </head>
        <body>
        
    <h4>Evento</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Evento.NombreEvento" class="control-label"></label>
                <input asp-for="Evento.NombreEvento" class="form-control" />
                <span asp-validation-for="Evento.NombreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.ActividadId" class="control-label"></label>
                <select asp-for="Evento.ActividadId" class ="form-control" asp-items="ViewBag.ActividadId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Fecha" class="control-label"></label>
                <input asp-for="Evento.Fecha" class="form-control" />
                <span asp-validation-for="Evento.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Lugar" class="control-label"></label>
                <input asp-for="Evento.Lugar" class="form-control" />
                <span asp-validation-for="Evento.Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Descripcion" class="control-label"></label>
                <input asp-for="Evento.Descripcion" class="form-control" />
                <span asp-validation-for="Evento.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

</body>
</html>
