@page
@model SchoolProjectWeb.Pages.Eventos.CreateModel

<h1>Registrar Evento</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="form-group">
                <label class="control-label" asp-for="Evento.NombreEvento"></label>
                <input asp-for="Evento.NombreEvento" class="form-control" />
                <span asp-validation-for="Evento.NombreEvento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Nombre de la actividad</label>
                <select asp-for="Evento.ActividadId" class="form-control" asp-items="ViewBag.ActividadId"></select>
                <span asp-validation-for="Evento.ActividadId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Evento.Fecha"></label>
                <input asp-for="Evento.Fecha" class="form-control" type="datetime-local" />
                <span asp-validation-for="Evento.Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Evento.Lugar"></label>
                <input asp-for="Evento.Lugar" class="form-control" />
                <span asp-validation-for="Evento.Lugar" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Evento.Descripcion"></label>
                <textarea asp-for="Evento.Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Evento.Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a asp-page="Index" class="btn btn-secondary ml-2">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>
