@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <nav>
        <ul>
            <li><a asp-page="/Actividades/Index">Actividades</a></li>
            <li><a asp-page="/Estudiantes/Index">Estudiantes</a></li>
            <li><a asp-page="/Profesores/Index">Profesores</a></li>
            <li><a asp-page="/Eventos/Index">Eventos</a></li>
            <li><a asp-page="/Inscripciones/Index">Inscripciones</a></li>
        </ul>
    </nav>
</div>
